fastapi
uvicorn
dash
starlette
dash-bootstrap-components
dash-cytoscape==1.0.2
dash-extensions
alembic
sqlalchemy
asyncpg 
pydantic-settings
psycopg2-binary
openai
tiktoken
python-dotenv
langchain
langchain-openai
langchain-community
langchain-neo4j
requests