fastapi
uvicorn
dash
starlette
dash-bootstrap-components
alembic
sqlalchemy
asyncpg 
pydantic-settings
psycopg2-binary
openai
tiktoken
python-dotenv
langchain
langchain-openai
langchain-community
langchain-neo4j
requests